{% extends 'Teacher/baseteacher.html' %}
{% load static %}

{% block css %}
 <link rel="stylesheet" type="text/css" href="{% static '/Teacher/css/details.css' %}"/>
{% endblock %}

{% block title %}<h2> Teacher Detail page &nbsp;&nbsp;{{info.access.user.username}}</h2>{% endblock %}

{% block content %}
<div class="container">
   <div class="info">
      <h2> Personal Details </h2>
     <p><b>Usertype:&nbsp;&nbsp;</b>{{info.access.usertype}}</p>
     <p><b>Username:&nbsp;&nbsp;</b>{{info.access.user.username}}</p>
     <p><b>Firstname:&nbsp;&nbsp;</b>{{info.access.user.first_name}}</p>
     <p><b>Lastname:&nbsp;&nbsp;</b>{{info.access.user.last_name}}</p>
     <p><b>Email:&nbsp;&nbsp;</b>{{info.access.user.email}}</p>
     <p><b>Gender:&nbsp;&nbsp;</b>{{info.gender}}</p>
     <p><b>Department:&nbsp;&nbsp;</b>{{info.department}}</p>
     <p><b>HOD:&nbsp;&nbsp;</b>{{info.is_HOD}}</p>
     <p><b>Phone:&nbsp;&nbsp;</b>{{info.phone}}</p>
   </div>
   <div class="address">
      <h2> Address Details </h2>
   {% for a in info.access.addresses.all %}
   <p><b>City:&nbsp;&nbsp;</b>{{a.city}}</p>
   <p><b>State:&nbsp;&nbsp;</b>{{a.state}}</p>
   <p><b>Pincode:&nbsp;&nbsp;</b>{{a.pincode}}</p>
   {% endfor %}
   </div>
</div>
{% endblock %}