<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        {{customform|crispy}}
        <input type="submit" value="submit">
    </form>
    <hr>
    {% comment %} {% for d in data %}
    <hr>
   Username:-{{ d.user.username}}<br>
   First_name:-{{d.user.first_name}}<br>
   Last_name:-{{d.user.last_name}}<br>
   Email:-{{d.user.email}}<br>
   user_type:-{{d.usertype}}
    <a href="{% url 'delete' d.id %}">delete click</a>
    <a href="{% url 'update' d.id %}">update click</a>
    {%endfor%}  {% endcomment %}
</body>
</html>