<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" value="submit">
    {% for d in data %}
    <hr>
    Line1:{{d.line_1}}<br>
    Line2:{{d.line_2}}<br>
    City:{{d.city}}<br>
    Pincode:{{d.pincode}}
    <a href="{% url 'updateaddress' d.id %}">update click</a>
    {% endfor %}
</form>
</body>
</html>