{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'Student/css/base.css' %}"/>
{% block css %}
    
{% endblock %}
<title>{% block title %}Base template{% endblock %}</title>
</head>
<body>
    {% block navbar %}
   
    {% endblock %}

    <div class="sidebar">
        <header>Student</header>
        <ul>
           <li><a class="active" href="#home">Profile</a></li>
            <li><a href="#">Subjects</a></li>
            <li><a href="#">Attendance</a></li>
            <li><a href="#">Events</a></li>
        </ul>
    </div>
    
    <div class="main">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>