<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>session</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="submit">
    </form>
    {% for d in data %}
    <hr>
    start_year:-{{d.start_year}}<br>
    end_year:-{{d.end_year}}<br>
    <a href="{% url 'updatesession' d.id %}">update click</a>
    {% endfor %}
</body>
</html>