<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, tr, th, td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Usertype</th>
            <th>Gender</th>
            <th>Role Number</th>
            <th>Phone</th>
            <th>Blood group</th>
        </tr>
             {% for f in form %}
             <tr>
                <td>{{f.user_type}}</td>
                <td>{{f.gender}}</td>
                <td>{{f.role_number}}</td>
                <td>{{f.phone}}</td>
                <td>{{f.blood_group}}</td>
                <td> <a href="{% url 'updatestudent' f.id %}">update click</a></td>
             </tr>
             {% endfor %}
    </table>


    
        
        {% comment %} <input type="submit" value="save"> {% endcomment %}
    
</body>
</html>