<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>showsubject</title>
    <style>
        table, tr, th, td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>subject_name</th>
            <th>subject_code</th>
            <th>subject_teacher</th>
            <th>student_class</th>
        </tr>
             {% for f in form %}
             <tr>
                <td>{{f.subject_name}}</td>
                <td>{{f.subject_code}}</td>
                <td>{{f.subject_teacher}}</td>
                <td>{{f.student_class}}</td>
                <td> <a href="{% url 'updatesubject' f.id %}">update click</a></td>
             </tr>
             {% endfor %}
    </table>
</body>
</html>